td{
    text-align: center;
    width: 20px; 
    height: 20px;
    transition-duration: 0.3s;
}

center{
    margin-top: 150px;
}

table{
    border: 1px solid #6bd2eb;
    table-layout: fixed;
    width: 100%;
    margin: 0px;
    text-align: center;
}
  
table {
    border-collapse: collapse;
}

/* 
.animate{
    animation-name: example;
    animation-duration: 5s;
} */