td{
    text-align: center;
    width: 20px; 
    height: 20px;
}


center{
    margin-top: 200px;
}

table{
    border: 1px solid #6bd2eb;
    table-layout: fixed;

    text-align: center;
}

.visited{
    animation-name: visited;
    animation-duration: 0.5s;
}
  
table {
    border-collapse: collapse;
}

@keyframes visited{
    to {background-color: red;}
}
@keyframes shortest-path{
    to {background-color: yellow;}
}
/* 
.animate{
    animation-name: example;
    animation-duration: 5s;
} */